<%= turbo_stream_from @chat %>
<div class="container py-4" data-controller="chat-scroll">
  <%= link_to "â† #{@chat.topic.name}", topic_path(@chat.topic) %>

  <h1 id="chat_title" class="mt-3"><%= @chat.title %></h1>

  <div id="messages"
       class="my-4"
       data-chat-scroll-target="messages"
       style="max-height: 60vh; overflow-y: auto;">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <div id="new_message_container">
    <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
